<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>Conections</title>
  
</head>
<body>
    <div id='title'>
        <h3 id="title"> PrestaServer</h3>
    </div>
    <div>
        <form name="formConection" method='POST' action="/conections/edit">
            <input type="text" id="tag" name='tag' placeholder="insert tag"><br>
            <input type="text" id="url" name='url' placeholder="insert url"><br>
            <input type="text" id="token" name='token' placeholder="insert the token" ><br>
            <input type="submit" value="Agregar coneccion"><br>
        </form>
    </div>
    


    
</body>
</html>
