<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
  
</head>
<body>  
    
 
  

  <div  class="topnav">
    
        <h3 id="title"> PrestaServer</h3>
    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/amoconnections">AmoCrm connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/amoContacts">amoContacts</a></li>
            <li><a href="/combined">Combined</a></li>
        
        
             
        </ul>
        
  </div>

   
 
   


    
</body>
</html>
